@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
}

html * {
  font-family: 'Indie Flower', cursive;
  /*font-family: 'Permanent Marker', cursive;*/
}

svg * {
  font-family:'Anton', sans-serif;
  color: inherit;
}

.hidePanelButton {
  width: inherit;
  padding: 0px 10px;
  border-radius: 25px;
}
.hidePanelButton:hover {
  padding: 0px 50px;
  transition: all 0.5s ease;
  background: #bbb;
  border-radius: 0px;
}
.SideBar {
  transition: all 0.25s ease;
}

.PopButton {
  transition: all 0.1s ease;
  border: 3px #333 solid;
  margin: 4px;
  padding-top: 3px;
  border-top-width: 1px;
  border-bottom-width: 3px;
}
.PopButton:hover {
  margin: 4px 4px 1px 4px;
  padding-top: 2px;
  border-top-width: 2px;
  border-bottom-width: 6px;
}

.PopInput {
  transition: all 0.25s ease;
  border: 3px #333 solid;
  margin: 4px;
  padding-top: 3px;
  border-top-width: 1px;
  border-bottom-width: 3px;
  border-radius: 25px;
  min-width: 0px;
}

.SideBarOverlay {
  transition: background 0.25s ease;
}

.PopInput:focus-within {
  border-radius: 10px;
  min-width: calc(100% - 45px);
}

.PopInput * {
  outline: 0;
}

.CodeSection {
  font-family: monospace;
  overflow: auto;
  background: white;
  max-height: calc(100% - 5em);
}
